.footer {
    background: #6278F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.footer p {
    color: white;
}

.footer p a {
    text-decoration: none;
    color: white;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}